<h2>Block Feature</h2>

<section id="test_block_regular">
    <h3>Regular</h3>
    <div {{ sRGrid.gridAttrName }}>
        <h4>Default</h4>
        <div {{ sRGrid.rowAttrName }}>
            {% for i in 1..4 %}
                <div {{ sRGrid.columnAttrName }}>
                    <div class="test" data-test-text="({{ i }})"></div>
                </div>
            {% endfor %}
        </div>

        <div class="test-wrapper">
            {% set rowAttrValue = sRGrid.blockInfix ~ '-2' %}
            <div {{ sRGrid.rowAttrName }}="{{ rowAttrValue }}">
                {% for i in 1..4 %}
                    <div {{ sRGrid.columnAttrName }}>
                        <div class="test" data-test-text="{{ rowAttrValue }} ({{ i }})"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section id="test_block_responsive">
    <h3>Responsive</h3>
    <div {{ sRGrid.gridAttrName }}>
        <div class="test-wrapper">
            {% for breakpointName in sRBreakpoints.breakpointNames  %}
                {% set rowAttrValue = breakpointName ~ "-" ~ sRGrid.blockInfix ~ '-2' %}
                <div {{ sRGrid.rowAttrName }}="{{ rowAttrValue }}">
                    {% for i in 1..4 %}
                        <div {{ sRGrid.columnAttrName }}>
                            <div class="test" data-test-text="{{ rowAttrValue }} ({{ i }})"></div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="test_block_between">
    <h3>Between</h3>
    <div {{ sRGrid.gridAttrName }}>
        <div class="test-wrapper">
            {% set startBreakpointName = sRBreakpoints.breakpointNames[0] %}
            {% for breakpoinName in sRBreakpoints.breakpointNames  %}
                {% if loop.first == false %}
                    {% set endBreakpointName = sRBreakpoints.breakpointNames[loop.index - 1] %}
                    {% set rowAttrValue = startBreakpointName ~ "-" ~ endBreakpointName ~ "-" ~ sRGrid.blockInfix ~ '-2' %}
                    <div {{ sRGrid.rowAttrName }}="{{ rowAttrValue }}">
                        {% for i in 1..4 %}
                            <div {{ sRGrid.columnAttrName }}>
                                <div class="test" data-test-text="{{ rowAttrValue }} ({{ i }})"></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="test_block_only">
    <h3>Only</h3>
    <div {{ sRGrid.gridAttrName }}>
        <div class="test-wrapper">
            {% for breakpointName in sRBreakpoints.breakpointNames %}
                {% set rowAttrValue = breakpointName ~ "-" ~ sRGrid.onlyInfix ~ "-"  ~ sRGrid.blockInfix ~ '-2' %}
                <div {{ sRGrid.rowAttrName }}="{{ rowAttrValue }}">
                    {% for i in 1..4 %}
                        <div {{ sRGrid.columnAttrName }}>
                            <div class="test" data-test-text="{{ rowAttrValue }} ({{ i }})"></div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
