<h2>Distribution Feature</h2>

<section id="test_distribution_regular">
    <h3>Regular</h3>

    <div {{ sRGrid.gridAttrName }}>
        <h4>Default</h4>
        <div {{ sRGrid.rowAttrName }}>
            {% for i in 1..3 %}
                <div {{ sRGrid.columnAttrName }}="8">
                    <div class="test"></div>
                </div>
            {% endfor %}
        </div>

        <h4>Around & Between</h4>
        <div class="test-wrapper">
            {% for rowIndex in 1..2 %}
                {% set rowAttrValue = (rowIndex == 1) ? sRGrid.distributionAroundInfix : sRGrid.distributionBetweenInfix %}
                <div {{ sRGrid.rowAttrName }}="{{ rowAttrValue  }}">
                    {% for i in 1..3 %}
                        <div {{ sRGrid.columnAttrName }}="8">
                            <div class="test" data-test-text="{{ rowAttrValue }}"></div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="test_distribution_responsive">
    <h3>Responsive</h3>
    <div {{ sRGrid.gridAttrName }}>
        <div class="test-wrapper">
            {% set rowAttrValue = "" %}
            {% for breakpointName in sRBreakpoints.breakpointNames  %}
                {% set rowAttrValue = rowAttrValue ~ " " ~ breakpointName ~ "-" ~ ((loop.index % 2) ? sRGrid.distributionAroundInfix : sRGrid.distributionBetweenInfix) %}
            {% endfor %}
            <div {{ sRGrid.rowAttrName }}="{{ rowAttrValue  }}">
                {% for i in 1..3 %}
                    <div {{ sRGrid.columnAttrName }}="8">
                        <div class="test" data-test-text="{{ rowAttrValue  }}"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section id="test_distribution_between">
    <h3>Between</h3>
    <div {{ sRGrid.gridAttrName }}>
        <div class="test-wrapper">
            {% set startBreakpointName = sRBreakpoints.breakpointNames[0] %}
            {% for breakpoinName in sRBreakpoints.breakpointNames  %}
                {% if loop.first == false %}
                    {% set endBreakpointName = sRBreakpoints.breakpointNames[loop.index - 1] %}
                    {% for rowIndex in  1..2 %}
                        {% set distributionFeature = (loop.index % 2) ? sRGrid.distributionAroundInfix : sRGrid.distributionBetweenInfix %}
                        {% set rowAttrValue = startBreakpointName ~ "-" ~ endBreakpointName ~ "-" ~ distributionFeature %}
                        <div {{ sRGrid.rowAttrName }}="{{ rowAttrValue }}">
                            {% for i in 1..3 %}
                                <div {{ sRGrid.columnAttrName }}="8">
                                    <div class="test" data-test-text="{{ rowAttrValue  }}"></div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="test_distribution_only">
    <h3>Only</h3>
    <div {{ sRGrid.gridAttrName }}>
        <div class="test-wrapper">
            {% for breakpointName in sRBreakpoints.breakpointNames  %}
                {% for rowIndex in 1..2 %}
                    {% set distributionFeature = (rowIndex == 1) ? sRGrid.distributionAroundInfix : sRGrid.distributionBetweenInfix %}
                    {% set rowAttrValue = breakpointName ~ "-" ~ sRGrid.onlyInfix ~ "-" ~ distributionFeature %}
                    <div {{ sRGrid.rowAttrName }}="{{ rowAttrValue  }}">
                        {% for i in 1..3 %}
                            <div {{ sRGrid.columnAttrName }}="8">
                                <div class="test" data-test-text="{{ rowAttrValue  }}"></div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
