<h2>Wrapper Feature</h2>

<section id="test_wrapper">
    <div {{ sRGrid.gridAttrName }}>
        <h4>Default</h4>
        <div {{ sRGrid.rowAttrName }}>
            <div {{ sRGrid.columnAttrName }}>
                <div class="test"></div>
            </div>
        </div>

        <h4>Wrapper</h4>
        <div class="test-wrapper">
            <div {{ sRGrid.wrapperAttrName }}>
                <div {{ sRGrid.rowAttrName }}>
                    <div {{ sRGrid.columnAttrName }}>
                        <div class="test"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
